NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_API_URL=http://localhost:3001

NEXT_PUBLIC_PASSWORD_MIN_LENGTH=10
NEXT_PUBLIC_WORKSPACE_NAME_MAX_LENGTH=100
NEXT_PUBLIC_WORKSPACE_DESCRIPTION_MAX_LENGTH=500